@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    border: 0em;
    margin: 0em;
    padding: 0em;
    outline: 0em;
}
html{
    scroll-behavior: smooth;
}
html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden !important;
}
body{
    background: white !important;
    font-family: sans-serif !important;
    position: relative;
}
::-webkit-scrollbar{
    width: 0;
}
/*-------------------- NAVBAR----------------------- */
#items,#items-1{
    color: white;
    font-family: 'Zen Dots', cursive;
}
#items-1{
  font-size:larger;
  color: yellow;
}
#items{
  font-size: large;
}
#nav_bar{
    background: black;
    overflow: auto;
    position:fixed;
    width: 100%;
}
#nav-items{
    padding-left: 35vw;   
    float:right;
}
@media(max-width:992px){
    #nav-items{  
        padding-left:5vw !important; 
        float: left;
    }
}
@media(max-width:426px){
    #nav-items{  
        padding-left: 5vw; 
        float: left;
    }
    #items,#items-1{
        font-size: large;
    }
}
@media(max-width:402px){
    #nav-items{  
        padding-left: 5vw; 
        float: left;
        font-size:medium;
    }
    #items,#items-1{
        font-size:medium;
    }
}
@media(max-width:378px){
    #nav-items{  
        padding-left: 5vw; 
        float: left;
        font-size:small;
    }
    #items,#items-1{
        font-size:small;
    }
}
.nav-link{
    color:aliceblue !important;
    font-family: 'Zen Dots', cursive;
}
#nav-home :hover,#nav-labs :hover,#nav-log :hover,#nav-sign :hover{
    background:rgb(68, 61, 61);
}
#nav-home,#nav-labs,#nav-log,#nav-sign{
    padding: 1vw;
}
#navbarSupportedContent{
    color:white;
}
#items-1{
    border-right: 0.066vw solid white;
    padding:1vw;
}
#items{
    margin-left: 1vw;
}
/* ---------------HEADING-------------- */
/* h2{
    color:red;
    padding-top: 15vw;
    text-align: center;
}  */
  /* clear background */
  h2 {
    text-align: center;
    /* font-family: 'Kenia', cursive; */
    font-family: 'Bungee', cursive;
    /* font-family: 'Monoton', cursive; */
    font-weight: 800;
  }
  
  /* crops animations that exceeds one line area */
  .heading {
    width: 100%;
    height: 4vw; 
    overflow: hidden;
    padding: 5vw;
    margin-top: 20vw;
  }
  
  /* flipping class and key frames*/
  .flipX {
    animation: 1s anim-flipX ease infinite;
  }
  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }
    100% { 
      /* animate nothing to pause animation at the end */
      opacity: 1;
      transform: rotateX(720deg); 
    }
  }
  
  /* lineup class and keyframes */
  .lineUp {
    animation: 2s anim-lineUp ease-out 1;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  } 
  /* flipY class and keyframes*/
  .flipY {
    animation-name: spin, depth;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-duration: 6s;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  @keyframes depth {
    0% {
      text-shadow: 0 0 black;
    }
    25% {
      text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
    }
    50% {
      text-shadow: 0 0 black;
    }
    /* 75% {
      text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
        -5px 0 black;
    } */
    100% {
      text-shadow: 0 0 black;
    }
  } 
  
  /* subtle zoom to attention and then back */
  .pop-out {
    animation: 20s anim-popout ease 1;
  }
  
  @keyframes anim-popout {
    /* 0% {
      color: black;
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    } */
    25% {
      color: rgb(255, 145, 0);
      transform: scale(2);
      opacity: 1;
      text-shadow: 1px 5px 5px rgba(0, 0, 0, 1);
    }
    50% {
      color: rgb(255, 145, 0);
      transform: scale(2);
      opacity: 1;
      text-shadow: 0px 0 0 rgba(0, 0, 0, 1);
    }
    100% { 
      /* animate nothing to add pause at the end of animation */
      color: red;
      transform: scale(2);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /* .fromtop {
 animation: 2s anim-fromtop linear infinite;
  }
  @keyframes anim-fromtop {
    0% { opacity: 0; transform: translateY(-100%);}
    25% { opacity: 1; transform: translateY(0%);}
    50% {
    }
    100% {
    }
  } */

#banner-image{
    margin-top:-35vw;
}
